{{range .BuildTags}}
{{- .}}
{{end -}}
package {{.Pkg}}

import "github.com/ebitengine/purego"

func init() {
    registerLoaderFunc(func(lib uintptr) {
        {{range .Sdl3Externs -}}
        purego.RegisterLibFunc(&{{.FuncPath}}, lib, "{{.FuncOrigName}}")
        {{end}}
    })
}
