{{range .BuildTags}}
{{- .}}
{{end -}}
package {{.Pkg}}

func init() {
    registerLoaderFunc(func() []externFunc {
        return []externFunc {
        {{range .Sdl3Externs}}    { &{{.FuncPath}}, "{{.FuncOrigName}}" },
        {{end -}}
        }
    })
}
